<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"><b>Edit:</b> Chest and Back</h1>
  </div>
  <div class="panel-body">
    <%= render "form" %>
  </div>
</div>

<%= link_to "<span class='glyphicon glyphicon-edit'></span> Update Workout".html_safe, "#", class: "btn btn-primary btn-lg btn-block", id: "update-workout-submit" %>