<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"><b>All Workouts</b></h1>
  </div>

  <% if @workouts.empty? %>
  <div class="no-workouts">
    <h4>No Workouts?</h4>
    <p>no sweat, let's beat up on some weights</p>
  </div>
  <% end %>

  <div class="table-responsive">
    <table class="table">
      <tbody>
        <% @workouts.each do |workout| %>
        <tr>
          <td>
            <%= workout.name %>
            <span class="right">
              <%= link_to "<span class='glyphicon icon-bolt'></span> Crush It".html_safe, new_workout_result_path(workout_id: workout.id), class: "btn btn-default btn-sm" %>
              <%= link_to "View<span class='glyphicon glyphicon-chevron-right'></span>".html_safe, workout_path(workout), class: "btn btn-default btn-sm" %>
            </span>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="form-action">
  <%= link_to "<span class='glyphicon glyphicon-flash'></span> Create Workout".html_safe, new_workout_path, class: "btn btn-default btn-lg btn-block" %>
</div>