<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"><b>Workout Library</b></h1>
  </div>

  <% if @workouts.empty? %>
  <div class="no-workouts">
    <h4>No Workouts?</h4>
    <% if mobile_device? %>
      <p>no sweat, head over to the store and select a program that fits your needs.</p>
    <% else %>
      <p>no sweat, create some exercises first then click the button below. Or, head over to the store and select a program that fits your needs.</p>
    <% end %>

  </div>
  <% end %>

  <div class="list-group workout-list">
    <% @workouts.each do |workout| %>
      <a href="<%= workout_path(workout) %>" class="list-group-item">
        <div class="left">
          <h4 class="list-group-item-header">
            <%= workout.name.titleize %>
          </h4>
        </div>
        <span class='icon-chevron-right view-workout'></span>
      </a>
    <% end %>
  </div>
</div>

<% unless mobile_device? %>
  <div class="form-action">
    <%= link_to "<span class='icon-bolt'></span> Create Workout".html_safe, new_workout_path, class: "btn btn-default btn-lg btn-block" %>
  </div>
<% end %>
