<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"><b>Workout Library</b></h1>
  </div>

  <% if @workouts.empty? %>
  <div class="no-workouts">
    <h4>No Workouts?</h4>
    <% if mobile_device? %>
      <p>no sweat, head over to the store and select a program that fits your needs.</p>
    <% else %>
      <p>no sweat, create some exercises first then click the button below. Or, head over to the store and select a program that fits your needs.</p>
    <% end %>

  </div>
  <% end %>

  <div class="table-responsive">
    <table class="table">
      <tbody>
        <% @workouts.each do |workout| %>
        <tr>
          <td>
            <%= workout.name %>
            <span class="right">
              <%= link_to "Crush It", new_workout_result_path(workout_id: workout.id, user_id: current_user.id), class: "btn btn-default btn-sm" %>
              <%= link_to "View", workout_path(workout), class: "btn btn-default btn-sm view" %>
            </span>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% unless mobile_device? %>
  <div class="form-action">
    <%= link_to "<span class='icon-bolt'></span> Create Workout".html_safe, new_workout_path, class: "btn btn-default btn-lg btn-block" %>
  </div>
<% end %>
