<h2>
  Programs tailored to meet your needs.
</h2>

<h4>
  Grouped by lifting experience not overall strength.
  Everyone should start with the beginner program to maximize their gains.
</h4>

<div class="list-group" id="skill-levels">
  <%= link_to "Beginner", beginner_stores_path, class: "list-group-item" %>
  <%= link_to "Intermediate", intermediate_stores_path, class: "list-group-item" %>
  <%= link_to "Advanced", advanced_stores_path, class: "list-group-item" %>
</div>