<div class="list-group" id="skill-levels">
  <%= link_to "Beginner", beginner_stores_path, class: "list-group-item" %>
  <%= link_to "Intermediate", intermediate_stores_path, class: "list-group-item" %>
  <%= link_to "Advanced", advanced_stores_path, class: "list-group-item" %>
</div>