<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"><b>All Programs</b></h1>
  </div>

  <% if @programs.empty? %>
    <div class="no-programs">
      <h4>No Programs?</h4>
      <p>No biggy. Once you have a few workouts created you can create a program. Programs set a specific order for the workouts to be completed, track your progress after each workout and automatically increment the weight based off the workout's settings.</p>
    </div>
  <% end %>

  <div class="table-responsive">
    <table class="table">
      <tbody>
        <% @programs.each do |program| %>
        <tr>
          <td>
            <%= program.name %>
            <span class="right">
              <% if program.active %>
                <%= link_to "active", "#", class: "btn btn-sm btn-success" %>
              <% end %>
              <%= link_to "View", program_path(program), class: "btn btn-default btn-sm view" %>
            </span>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% unless mobile_device? %>
  <div class="form-action">
    <%= link_to "<span class='icon-bolt'></span> Create Program".html_safe, new_program_path, class: "btn btn-default btn-lg btn-block" %>
  </div>
<% end %>