<h3>Get Strong Time</h3>
<p>
  Great news. You're about to build muscle, burn fat, and increase your strength levels like never before over the next 7-9 months.  You're entering your best growth phase - that of the beginner.
</p>

<%= link_to "see the details", beginner_stores_path, class: "btn btn-default btn-lg btn-block" %>