<div class="learn-more-header mobile">
  <h1>What Makes Popeye A No Brainer?</h1>
</div>

<div class="reason mobile">
  <h2>No More Tedious Logging</h2>
  <p>
    Popeye was built out of the need to have a workout app that gets out of your way and allows you to focus on what matters - getting the body you want. Other apps require tedious logging of every set, rep, and weight used for every exercise you complete.  Not with Popeye. All of the tracking Popeye provides comes already built into each exercise, so all you have to do is click when you're finished.
  </p>
</div>

<div class="reason">
  <h2>Top Notch Exercise Programs</h2>
  <p>
    Don't really know what your doing in the gym?  Plateaued in your lifts? Tired of doing the same workout for the 100th time?  Popeye ships with programs designed by the best in the business. Our programs focus on what works. Compound full body movements coupled with weight periodization and ample recovery time. Regardless of your strength level, Popeye has programs for beginner, intermediate, and advanced lifters.
  </p>
</div>

<div class="reason">
  <h2>User Focused</h2>
  <p>
    Popeye comes with a robust workout creation tool that allows you to fully customize a workout.  Tailor not only the number of sets, reps, and weight but also control when an exercise's weight should increased or decreased.
  </p>
</div>

<div class="reason">
  <h2>Cross Platform Availability</h2>
  <p>
    Popeye is a web app built with a responsive design. So whether your using the app on your phone, tablet, or desktop Popeye just works. Furthermore, Popeye doesn't care if your using an iPhone, Android or Windows phone, all you need is an internet connection and your good to go.
  </p>
</div>

<div class="learn-more-signup mobile">
  <h1>It's <%= Date.today.strftime("%Y") %> - Let's Get Strong Already</h1>
  <%= render partial: "devise/registrations/form" %>
</div>