<%= render "form" %>

<div class="form-action">
  <%= link_to "<span class='glyphicon glyphicon-edit'></span> Update Workout Sesh".html_safe, "#", class: "btn btn-default btn-lg btn-block", id: "update-workout-result-submit" %>
</div>

<div class="edit"></div>
