<%= render "edit_form" %>

<div class="form-action">
  <%= link_to "<span class='icon-edit'></span> Update Workout Results".html_safe, "#", class: "btn btn-default btn-lg btn-block", id: "update-workout-result-submit" %>
</div>

<div class="edit"></div>
