<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"><b>Workout Log</b></h1>
  </div>

  <% if @workout_results.empty? %>
  <div class="no-workouts">
    <h4>Workout Log Empty?</h4>
    <p>go to your dashboard and complete the first workout</p>
  </div>
  <% end %>

  <div class="table-responsive">
    <table class="table">
      <tbody>
        <% @workout_results.each do |result| %>
        <tr>
          <td>
            <div class="workout-result-summary-data-index">
              <div class="name-and-date">
                <p><b><%= result.workout.name.titleize %></b></p>
                <p class="date"><%= formatted_date(result) %></p>
              </div>
              <div class="result-status-button">
              <%= link_to "View", workout_result_path(result), class: "btn btn-default"%>
              </div>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= paginate @workout_results %>
