<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"><b>Workout Log</b></h1>
  </div>

  <% if @workout_results.empty? %>
  <div class="no-workouts">
    <h4>Workout Log Empty?</h4>
    <p>go to your dashboard and complete the first workout</p>
  </div>
  <% end %>

  <div class="list-group workout-results">
    <% @workout_results.each do |result| %>
      <a href="<%= workout_result_path(result) %>" class="list-group-item">
        <div class="left">
          <h4 class="list-group-item-header">
            <%= result.workout_name.titleize %>
          </h4>
          <p class="list-group-item-text">
            <%= formatted_date(result) %>
          </p>
        </div>
        <span class='icon-chevron-right view-result'></span>
      </a>
    <% end %>
  </div>

</div>
<%= paginate @workout_results %>
