<div class="alert alert-success timer">
  <button type="button" class="close">
    <span class='glyphicon glyphicon-remove'></span>
  </button>
  <div class="message">Woot! Way to Get Your Reps In</div>
  <div id="watch-display"></div>
</div>

<%= render "form" %>

<div class="form-action">
  <%= link_to "<span class='glyphicon glyphicon-flash'></span> Record Workout".html_safe, "#", class: "btn btn-default btn-lg btn-block", id: "new-workout-result-submit" %>
</div>