<h3>Current Max Lifts</h3>

<div class="explantory-text">
  <p>
    Finally, we need to know a ballpark estimate for your current strength level. For each of the below exercises record the most weight you can do for a single rep.  This is known as your 1 RM.
  </p>

  <p>
    The three moves below are good benchmarks for overall strength because they are compound movements that work the body's major muscle groups.
  </p>

  <p>
    It's okay if you don't know your lifts exactly. The values populated below are what the average untrained person can expect to achieve given your body weight of <%= current_user.weight %> lbs.
  </p>

  <p>
    All values are in lbs. You can change your max lifts anytime by going to your profile page.
  </p>
</div>

<%= render "form" %>

