<h3>Retest Max Lifts</h3>

<div class="explantory-text">
  <p>
    Proof is in the pudding!  Time to see how much stronger you've gotten.
  </p>

  <p>
    Remember to warm up properly and allow 3-4 minutes before each attempt.  Keep adding weight weight until you cannot make the lift. The previous lift is your new 1RM.
  </p>
</div>

<%= render "form" %>