// splash page web
.splash-text{
  h1{font-size:75px; font-weight:500};
  .mid{font-size:44px; line-height:1; font-weight:300; margin-top:17px};
  .bottom{font-size:32px; line-height:1; margin-top:25px; font-weight:500; margin-bottom:35px };
}

#logo{
  float:left
}

.signup-form{
  float:right;
  width:50%;
  margin-top:20px;
  h1{margin-bottom:20px}
  #learn-more{margin-bottom:34px}
  .signin-link{margin-left:5px;font-size:20px}
}


// splash page mobile
.splash-text-mobile{
  h1{font-size:31px;font-weight:500}
  .mid{font-size:21px; line-height:1; font-weight:300; margin-top:17px};
  .bottom{font-size:19px; line-height:1; margin-top:25px; font-weight:500; margin-bottom:25px};
}

.signup-form-mobile{
  .signin-link{margin-left:5px;font-size:20px}
}

// signin-page web
.pump-up-text h1{font-weight:600;font-size:58px}
// signin-page mobile
.pump-up-text-mobile h1{font-weight:600;font-size:28px}

// body metrics
.body-metrics{
  .sub-text{margin-top:-11px};
  #gender_male{margin-bottom:15px}
}
.add-gender,
.add-weight{margin-top:15px; font-size:16px}
.gender-text{margin-left:5px; font-size:16px}
.welcome-text{font-size:14px}


// learn more web page
.learn-more-header h1{font-size:70px; font-weight:500; margin-bottom:40px}
.reason{
  margin-top:20px;
  margin-bottom:30px;
  p {padding:24px; background:rgb(242,242,242); font-size:17px}
}

.learn-more-signup{
  h1 {text-align:center};
  border:3px solid #6bb85c;
  padding:20px;
  margin-bottom:30px
}
// end learn more page


// learn more mobile page
.learn-more-header.mobile h1{font-size:29px; font-weight:500; margin-bottom:28px}
.reason.mobile{
  h2 {font-size:20px};
  margin-top:20px;
  margin-bottom:30px;
  p {padding:24px; background:rgb(242,242,242); font-size:15px}
}

.learn-more-signup.mobile h1{font-size:28px}

// end learn more page mobile

// error when signing up
  #error_explanation h2{font-size:23px}
// end