.new-program{float:left;width:47%;}
.all-workouts{float:right; width:47%}

#workout-list,
#program-list{padding:10px}

.placeholder{
  border:1px dashed;
  list-style-type:none;
  height:75px
}

.workout-title{padding:20px}

.new_program .alert{margin-top:20px}