.new-program{float:left;width:47%;}
.all-workouts{float:right; width:47%}

#workout-list,
#program-list{padding:10px}

.placeholder{
  border:1px dashed;
  list-style-type:none;
  height:75px
}

.workout-title{padding:20px}
.new_program{
  .alert{margin-top:20px};
  p {margin-bottom: 15px}
}

.active{
  float:right;
  margin-top:-11px
}

#workout-list{
  list-style-type:none;
  padding-left:0px;
  .program-exercise-lift{list-style-type:none};
  .program-workout{
    border:1px solid #ccc;
    padding:11px;
    margin-bottom:-1px
  }
}

.no-programs{
  margin-left:15px
}

.store-fields{
  margin-top:10px;
  #program_description{height:100px}
  .form-control{
    margin-bottom:10px
  }
}

#program_retest_frequency {width:60px}