$table-cell-width: 2.42 !important;
$color-warning: rgb(232,114,49);
$color-primary: rgb(101,67,211);
$color-light-grey: rgb(242,242,242);

.panel{
  margin-top:2%;
}

.panel-heading{
  line-height: $table-cell-width;
}

.table tr td{
  line-height: $table-cell-width;
  span.right { float:right; }
}

#add-exercise{
  float:right;
}

.badge{float:right}

// new exercise workout form
.nested-fields{
  background-color:$color-light-grey;
  padding:15px;
}

.alert.alert-danger{
  ul{
    list-style-type: none;
    margin-left: -39px;
  }
}

// end of exercise form

.form-action{
  margin-bottom:10px
}

.no-workouts{
  margin-left:15px
}

// span for previewing ascending / descending
span.descending,
span.ascending{margin-left:10px}

.current-workout{
  text-align:left;
  padding-left:15px
}

.cw-icon{
  float:right;
  margin-right:25px;
  padding-top:5px
}

.view{width:60px}

h3.active-program{margin-top:-4px}
.or-divider{
  margin-top:20px;
  margin-bottom:20px;
  font-size:18px
}

.info-text{font-size:16px}



