.result-field{
  width:60px;
  height:50px;
  margin-right:20px;
  padding:2px 12px;
  font-size:30px;
  margin-bottom: 10px
}

.timer{
  margin-top:10px;
  text-align:center;
  .message{
    font-weight:bold;
  }
  #watch-display{
    font-size:30px;
    font-weight:bold;
  }
}

// index page table

.workout-result-summary-data-index{
  .name-and-date{
    width:50%;
    float:left;
    .date{margin-top:-24px}
  }
  .result-status-button{
    width:37%;
    margin-right:5px;
    margin-top:10px;
    float:right;
    .btn{width:100%}
  }
}

// show page list
.workout-result-summary-data-show{
  height:60px;
  margin-top:15px;
  .name-and-date{
    width:50%;
    float:left;
    font-size: 16px;
    .date{margin-top:-10px; font-size: 13px;}
  }
  .result-status-button{
    width:37%;
    margin-right:5px;
    float:right;
    .btn{width:100%}
  }
}

.right{float:right}
.next-lift{margin-top:-5px}
