<div class="list-group" id="skill-levels">
  <%= link_to "Beginner", beginner_store_index_path, class: "list-group-item" %>
  <%= link_to "Intermediate", intermediate_store_index_path, class: "list-group-item" %>
  <%= link_to "Advanced", advanced_store_index_path, class: "list-group-item" %>
</div>