<div class="list-group" id="skill-levels">
  <a href="#" class="list-group-item">Beginner</a>
  <a href="#" class="list-group-item">Intermediate</a>
  <a href="#" class="list-group-item">Advanced</a>
</div>