<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"><b>All Programs</b></h1>
  </div>

  <% if @programs.empty? %>
    <div class="no-programs">
      <h4>No Programs?</h4>
      <p>No biggy. Once you have a few workouts created you can create a program. Programs set a specific order for the workouts to be completed, track your progress after each workout and automatically increment the weight based off the workout's settings.</p>
    </div>
  <% end %>

  <div class="list-group program-list-mobile">
    <% @programs.each do |program| %>
      <a href="<%= program_path(program) %>" class="list-group-item">
        <div class="left">
          <h4 class="list-group-item-header">
            <%= program.name.titleize %>
          </h4>
        </div>
        <span class='icon-chevron-right view-program'></span>
        <div style="clear:both"></div>
        <% if program.active %>
          <span class="label label-success">active</span>
        <% end %>
      </a>
    <% end %>
  </div>
</div>